@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ittpff');
  src:  url('fonts/icomoon.eot?ittpff#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ittpff') format('truetype'),
    url('fonts/icomoon.woff?ittpff') format('woff'),
    url('fonts/icomoon.svg?ittpff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-remove:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
.icon-top:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-have-a-nice-day:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-add-to-list:before {
  content: "\e907";
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-container {display: flex;  align-items: stretch; align-content: stretch}
.half-width {max-width: 100%; width: 50%; height: 100vh; position: relative}
.right-side { box-shadow: -8px 0px 28px -4px rgba(0,0,0,0.75);
text-align: center;
    background-color: #1E0C02
}

.copyright {
	color: #7b695e;
	font-size: .75rem; text-align: center;
	font-weight: 400; width: 100%; padding: 1rem;
	bottom: 0px; position: absolute}
.right-side .title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #5b4e47;  text-align: center;
    font-size: 4rem; margin: 3rem auto;
    display: inline-block;
    font-weight: 400;
    padding: .5rem 1rem;
    background-image: url(../images/the-title-decor.png);
    background-repeat: repeat-x;
    background-position: center bottom;
	}